.o_list_buttons {
    .open_booking_list  {
        margin-left: 4px;
        margin-right: 4px;
    }
}
.o_field_padding_top {
    padding-top: 10px;
}
.o_billing_lines, .o_booking_volume_tree {
    .o_input {
        background-color: #D2D2FF !important;
    }
}
.o_booking_tree [data-name="partner_id"]{
    max-width: 200px !important;
}
.o_booking_volume_tree [data-name="quantity"]{
    width: 20%;
    max-width: 200px !important;
    text-align: center !important;
}
.o_booking_volume_tree [data-name="container_id"]{
    text-align: center;
}
.o_booking_volume_tree .o_data_row td:nth-child(even) {
    text-align: center !important;
}
.o_report_profits_tree [data-name="bill_no"] {
    text-align: center !important;
    width: 130px !important;
    max-width: 150px !important;
}
.o_report_profits_tree [data-name="display_pod"] {
    text-align: center !important;
    width: 120px !important;
    max-width: 150px !important;
}
.o_report_profits_tree [data-name="etd"] {
    text-align: center !important;
    width: 90px !important;
    max-width: 100px !important;
}
.o_report_profits_tree [data-name="invoice_date"] {
    text-align: center !important;
    width: 90px !important;
    max-width: 100px !important;
}
.o_report_profits_tree [data-name="display_sale_name"] {
    width: 70px !important;
    max-width: 70px !important;
}
.o_report_profits_tree [data-name="order_type"] {
    width: 80px !important;
    max-width: 100px !important;
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}
.o_report_profits_tree [data-name="po_amount_untaxed_vnd"] {
    width: 100px !important;
    max-width: 150px !important;
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}
.o_report_profits_tree [data-name="po_amount_total_vnd"] {
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}
.o_report_profits_tree [data-name="po_amount_tax_vnd"] {
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}
.o_report_profits_tree [data-name="cost_no_vat"] {
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}
.o_report_profits_tree [data-name="display_cus"] {
    width: 70px !important;
    max-width: 70px !important;
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}
.o_report_profits_tree [data-name="so_commission_total"] {
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}
.o_report_profits_tree [data-name="so_commission_total_vnd"] {
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}
.o_report_profits_tree [data-name="display_line"] {
    width: 70px !important;
    max-width: 70px !important;
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}
.o_report_profits_tree [data-name="po_commission_total"] {
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}
.o_report_profits_tree [data-name="po_commission_total_vnd"] {
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}
.o_report_profits_tree [data-name="so_amount_untaxed_vnd"] {
    width: 110px !important;
    max-width: 150px !important;
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}
.o_report_profits_tree [data-name="so_amount_total_vnd"] {
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}
.o_report_profits_tree [data-name="so_amount_tax_vnd"] {
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}
.o_report_profits_tree [data-name="revenue_no_vat"] {
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}
.o_report_profits_tree [data-name="profit_before_tax_no_vat"] {
    width: 100px !important;
    max-width: 150px !important;
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}
.o_report_profits_tree [data-name="profit_before_tax_vat"] {
    width: 100px !important;
    max-width: 150px !important;
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}
.o_report_profits_tree [data-name="vat_payable"] {
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}
.o_report_profits_tree [data-name="business_tax_amount"] {
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}
.o_report_profits_tree [data-name="profit_after_tax_no_vat"] {
    width: 100px !important;
    max-width: 150px !important;
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}
.o_report_profits_tree [data-name="profit_after_tax_vat"] {
    white-space: normal !important;
    word-break: normal;
    text-align: center !important;
}

.o_report_incentive_tree [name="display_target_sales"] {
    opacity: 0 !important;
}
.o_report_incentive_tree [name="incentive"] {
    opacity: 0 !important;
}
.o_report_incentive_tree [name="incentive_tax_amount"] {
    opacity: 0 !important;
}
.o_report_incentive_tree [name="incentive_after_tax"] {
    opacity: 0 !important;
}
.o_report_incentive_tree [name="display_achieve"] {
    opacity: 0 !important;
}

.o_sale_margin_label {
    font-weight: bold;
}
.o_sale_margin_description {
    font-size: smaller;
    color: gray;
}

.btn-view-incentive-detail {
    margin-left: 10px;
}
.pricelist-view [data-name=""] {
    width: 100px !important;
    max-width: 100px !important;
}