	/*
	@font-face {
		font-family: 'minion-pro';
		src: url('/freight_mgmt/static/fonts/MinionPro-Regular.woff') format('woff');
    }
	
	@font-face {
        font-family: 'minion-pro';
        src: url('/freight_mgmt/static/fonts/test/FontAwesome.otf'); //* IE9 Compat Modes
        src: local('O'),
            url('/freight_mgmt/static/fonts/test/fontawesome-webfont.ttf') format('truetype'),
            url('/freight_mgmt/static/fonts/test/fontawesome-webfont.woff') format('woff'),
            url('/freight_mgmt/static/fonts/test/fontawesome-webfont.svg') format('svg');
        font-weight: normal;
        font-style: normal;
        font-stretch: normal
    }
    */

	* {
      font-family: 'Times New Roman', Times, serif;
      font-size: 12px !important;
    }
    .title {
        font-size: 18px !important;
        font-weight: 700;
    }
	.table-bordered {
		border: 1px solid #00A651 !important
	}
	.table-lines-bordered {
		border: 1px dashed #00A651 !important;
		border-right-width: 0px !important;
		border-left-width: 0px !important;
	}
	.t-header {
		background-color: #B7DEE8;
		font-weight: 700;
		text-align: center;
		vertical-align: middle !important;
	}
	.t-header-annual-leave {
		background-color: #1F497D;
		font-weight: 700;
		text-align: center;
		vertical-align: middle !important;
		color: white;
	}
	.t-header-date {
	    background-color: #B7DEE8;
	    vertical-align: middle !important;
	}
	.t-footer-total {
	    background-color: #B7DEE8;
	    vertical-align: middle !important;
	    line-height: 20px !important;
	}
	.t-note-header {
		background-color: yellow;
		font-weight: 700;
		text-align: center;
	}
	#tMain {
		table-layout: fixed;
		font-size: 10px !important;
	}
	#tMain tr {
	    line-height: 20px !important;
	}
	#tMain td {
		border: 1px solid #000000 !important;
		padding: 0 !important;
		vertical-align: middle !important;
		text-align: center !important;
	}
	#tMain th {
	    border: 1px solid #000000 !important;
	    vertical-align: middle !important;
	}
	#tMain .text-smaller {
	    font-size: 8px !important;
	}
	#tMain .text-left {
	    text-align: left !important;
	    padding-left: 5px !important;
	}
	#tMain .text-right {
	    text-align: right !important;
	    padding-right: 5px !important;
	}
	#tMain .text-center {
	    text-align: center !important;
	}
	#tMain .text-red {
	    color: #FF0000 !important;
	}
	#tMain .text-dark-red {
	    color: #8B0000 !important;
	}
	#tMain .text-blue {
	    color: #0000FF !important;
	}
	#tNote {
		width: 250px;
		margin-left: 100px !important;
		font-size: 18px !important;
	}
	#tNote td {
		border: 1px solid #000000 !important;
		padding: 0 !important;
		vertical-align: middle !important;
		font-size: 12px !important;
		padding-left: 10px !important;
	}
	.background-yellow {
	    background-color: #FFFF00 !important;
	}
	.background-yellow-light {
	    background-color: #FFFF66 !important;
	}
	.background-pink {
	    background-color: #FFC7CE !important;
	}
	.column {
		float: left;
		width: 33.33%;
		text-align: center;
	}
	/* Stops the float property from affecting content after the columns */
	.columns:after {
		content: "";
		display: table;
		clear: both;
	}

    .annual-container {
		background-color: gray;
		font-weight: 700;
	}
	.annual-title {
		float: left;
		width: 50%;
		font-size: 20px !important;
		text-align: left;
	}
	.annual-date {
		float: right;
		width: 50%;
		font-size: 20px !important;
		text-align: right;
		padding-right: 20px;
		color: #8B0000;
	}